# BASE DE DATOS
"""
MYSQL_USER=tu_usuario_mysql_aqui
MYSQL_PASSWORD=tu_contraseña_mysql_aqui
MYSQL_HOST=localhost
MYSQL_DB=tu_nombre_base_datos_aqui

#xampp
MYSQL_DB=tu_nombre_base_datos_aqui
MYSQL_USER=tu_usuario_mysql_aqui
MYSQL_PASSWORD=tu_contraseña_mysql_aqui
MYSQL_HOST=localhost
MYSQL_PORT=3306

# CONFIG
NOTIFICATION_URL=tu_url_notificacion_aqui
WEBHOOK_URL=tu_url_webhook_aqui
# Mercado Pago (credenciales de tu cuenta)
MP_PUBLIC_KEY=tu_clave_publica_mp_aqui
MP_ACCESS_TOKEN=tu_token_acceso_mp_aqui
# GoHighLevel
GHL_TOKEN=tu_token_ghl_aqui
GHL_BASE_URL=https://rest.gohighlevel.com/v1
GHL_API_BASE_URL=https://services.leadconnectorhq.com
GHL_VERSION=2021-04-15
# Identificadores de tu cuenta (fijos)
GHL_CALENDAR_ID=tu_id_calendario_ghl_aqui
GHL_LOCATION_ID=tu_id_ubicacion_ghl_aqui
# Para pruebas (opcional, si siempre usas el mismo contacto)
GHL_CONTACT_ID=tu_id_contacto_ghl_aqui
# OAuth GHL
#GHL_CLIENT_ID=<tu-client-id>
#GHL_CLIENT_SECRET=<tu-client-secret>
"""
